<html>

<head>
    <title>CommuniCares</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel='stylesheet' href='/static/styles.css' />
    <meta charset="UTF-8">
</head>

<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="communicares_logo" src="/static/communicares_logo.png" alt="communicares_logo" width="70" height="70"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/survey">health survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all-results">results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">resources</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- content -->
    <div class='container'>
        <h1>Welcome to CommuniCares!</h1>
        <img src="/static/communicares_logo.png"
            width="500"
            height="500" />
        <br />
        <br />
        <h2>Our Mission!</h2>
        <p>To contribute to the wellbeing of our community through empowering individuals to live a healthier life, both physically and mentally. Our main values are <strong>inclusivity, education, and awareness.</strong></p>
        <h2>Why us??</h2>
        <p>Our team genuinely cares about you and your mental and physical health. We want you to be able to access information regarding your own health and the health of your community in a comprehendable, reliable, and amicable manner. 
        </p>
        <h3>How are we different?</h3>
        <p>• Comprehensive: Many times, you may find yourself downloading multiple different apps and signing up for multiple services just to get a more holistic assessment of your health. Maybe one logs your sleep, another tracks your mood and energy level, and you have to go to a whole other website for COVID-19 related information. Our website seeks to provide you with the platform to input many of the most important information about your health and generate advice, motivation, directs you to reliable resources to learn more about your health and the health of your community.
        </p>
        <p>• Aware: We know that many times, health-related platforms include aspects that are not as inclusive and may not be a safe space for all individuals. Maybe they prompt for user gender and don’t offer adequate options, or maybe they ask the user for their weight and suggest that they track their calories. These practices can be harmful because they can make certain individuals feel like they don’t belong or have to change themselves to be accepted. Counterintuitively, they can lead to unhealthy habits and even obsessive behavior. That’s why our site avoids asking about certain sensitive information and prioritizes creating a safe space for all individuals.
        </p>
        <p>• Simple: Other apps may be overwhelming for you to navigate because of the sheer amount of information you are prompted to input. The feedback you receive may also be hard to comprehend with less health-related background knowledge. We want it to be easy for you to log and receive information. Which is why we selectively prompt for some of the most important health aspects and deliver feedback in a comprehensible way.
        </p>
        <br/>
        <h2>~Disclaimer~</h2>
        <p>Our website is designed to give general health advice based on basic information provided by the user. Please do not rely on any information provided by our website for a recommendation for treatment or diagnosis. Please seek consultation from a qualified healthcare professional familiar with your individual medical needs <3</p>
    </div>
</body>

</html>