<html>

<head>
    <title>Intro to Web-Dev</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel='stylesheet' href='static/styles.css' />
    <meta charset="UTF-8">
</head>

<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="communicares_logo" src="/static/communicares_logo.png" alt="communicares_logo" width="70" height="70"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quiz">health survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all-results">results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">resources</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- content -->
    <div class='container'>

        <h2>Here are some resources:)</h2> 
        <br /> 
        <a href="https://www.nih.gov">National Institutes of Health</a> <br /> 
        <a href="https://www.nami.org">National Alliance on Mental Illness</a> <br /> 
        <a href="https://www.nimh.nih.org">National Institute of Mental Health</a> <br /> 
        <a href="https://www.nsvrc.org">National Sexual Violence Resource Center</a> <br /> 
        <a href="https://www.samhsa.gov">Substance Abuse and Mental Health Services Administration</a> <br /> 
        <br />       
        <h3>More trustworthy sites for medical information:</h3>  
        <br /> 
        <a href="https://www.webmd.com">WebMD</a> <br /> 
        <a href="https://www.medlineplus.gov">MedlinePlus</a> <br />  
        <a href="https://www.cdc.gov">Center for Disease Control</a> <br /> 
        <a href="https://mayoclinic.com/health-information">Mayo Clinic Health Information</a> <br />  
        <br /> 
        <label for="COVID">Would you like to opt in to COVID-19 related messages?</label>
        <select id="COVID" name="COVID"> 
            <option value="YES!">yes</option>
            <option value="No:(">no</option>
        </select>    
        <br /> 
        <br />
        <h3>Charities to donate to:</h3>
        <br />  
        <a href="https://www.stjude.org/donate/donate-to-st-jude.html">St. Jude Children's Research Hospital</a> <br />  
        <a href="https://www.heart.org/?s_src=22U5W1AEMG&s_subsrc=evg_sem&gclid=CjwKCAiAx8KQBhAGEiwAD3EiPyM5YzPJch3zrZt31IlHjg6OYyD_T3MEOt5Bz8AeskUtb_iA7jAKtBoCR_oQAvD_BwE&gclsrc=aw.ds">American Heart Association</a> <br />  
        <a href="https://www.wish.org">Make-A-Wish</a> <br /> 
        <a href="https://supporting.afsp.org/index.cfm?fuseaction=cms.page&id=1733&language=en">American Foundation for Suicide Prevention</a> <br />  
        <a href="https://www.sepsis.org/get-involved/ways-to-give/">Sepsis Alliance</a> <br />  
        <a href="https://www.fightbac.org/donate/">Partnership for Food Safety Education</a> <br />  
        <a href="https://www.thetrevorproject.org/fundraise/">The Trevor Project: The world's largest suicide prevention and crisis intervention organization for the LGBTQ+ Community.</a> <br /> 
    </div>
</body>

</html>