<html>

<head>
    <title>CommuniCares</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel='stylesheet' href='static/styles.css' />
    <meta charset="UTF-8">
</head>

<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="communicares_logo" src="/static/communicares_logo.png" alt="communicares_logo" width="70" height="70"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/survey">health survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all-results">results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">resources</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- content -->
    <div class='container'>
        <form method="post">
            <label for="fname">First name:</label>
            <br />
            <input type="text" id="fname" name="fname">
            <br />
            <br />
            <label for="lname">Last name:</label>
            <br />
            <input type="text" id="lname" name="lname">
            <br />
            <br />
            <label for="number">Phone number (for delivering your results by text): </label>
            <br />
            <input type="text" id="number" name="number">
            <br />
            <br />
            <label for="height">Height in inches:</label>
            <br />
            <input type="text" id="height" name="height">
            <br />
            <br />
            <label for="age">Age:</label>
            <br />
            <input type="text" id="age" name="age">
            <br />
            <br />
            <label for="sleep">How many hours of sleep did you get last night?</label>
            <br />
            <input type="text" id="sleep" name="sleep">
            <br />
            <br />
            <label for="mood">How are you feeling today?</label>
            <select id="mood" name="mood">
                <option value="rad">Rad &#128513;</option>
                <option value="good">Good &#128578;</option>
                <option value="meh">Meh &#128528;</option>
                <option value="bad">Bad &#128577;</option>
                <option value="awful">Awful &#128557;</option>
            </select>
            <br />
            <br />
            <label for="energy">What is your current energy level?</label>
            <select id="energy" name="energy">
                <option value="extremelyhigh">Extremely high</option>
                <option value="high">High</option>
                <option value="somewhathigh">Somewhat high</option>
                <option value="medium">Medium</option>
                <option value="somewhatlow">Somewhat low</option>
                <option value="low">Low</option>
                <option value="extremelylow">Extremely low</option>
            </select>
            <br />
            <br />
            <label for="symptoms">Are you experiencing any of the following symptoms today? Do not select any symptoms that you regularly experience.</label>
            <select id="symptoms" name="symptoms">
                <option value="none">None</option>
                <option value="fatigue">Fatigue</option>
                <option value="cough">Cough</option>
                <option value="runnynose">Runny nose</option>
                <option value="headache">Headache</option>
                <option value="stomachpain">Stomach pain</option>
                <option value="jointpain">Joint pain</option>
                <option value="fever">Fever</option>
                <option value="appetite">Irregular appetite</option>
            </select>
            <br />
            <br />
            <label for="important">Which of the following lifestyle habits is the most important to you?</label>
            <select id="important" name="important">
                <option value="water">Hydration</option>
                <option value="sleep">Sleep</option>
                <option value="physical">Physical Wellness</option>
            </select>
            <br />
            <br />
            <!-- TODO: possibly change age to bday -->
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>